@import '../../app.component.scss';


header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  width: 150px;
  height: 50px;
  background-color: tomato;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-toggle {
  float: right;
  transition: $default-transition;

  & > div {
    width: 40px;
    height: 8px;
    margin: 10px;
    margin-right: 50px;
    background-color: $dark;
    border-radius: 5px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.nav-container-search {
  float: left;
  margin-right: 10px;

  &:hover > img {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
    cursor: pointer;
  }
}

.nav-container-search, .nav-container-login {
  padding: 10px;
}


@media screen and (min-width: getBp(xl) + 1px) { 
  .nav-container__mobile {
    display: none;
  }
  .nav-container {
    display: flex;
  }
}

@media screen and (max-width: getBp(xl)) { 
  .nav-container__mobile {
    display: none;
  }
  .nav-container {
    display: flex;
  }
}

@media screen and (max-width: getBp(lg)) { 
  .nav-container__mobile {
    display: none;
  }
  .nav-container {
    display: flex;
  }
}

@media screen and (max-width: getBp(md)) { 
  .nav-container__mobile {
    display: inline-block;
  }
  .nav-container {
    display: none;
  }
}
