<!-- App Component -->

<!-- <app-contents></app-contents> -->

<div class="grid-container">
  <div class="grid-header">
    <!-- for sidebar
      <app-header 
      (openSidebar)="openSidebar($event)" 
      (openSearch)="openSearch($event)"
    ></app-header> -->
    <app-header 
      (openSearch)="openSearch($event)"
    ></app-header>
  </div>
  <div class="grid-menu-bar">
    <app-menu-bar></app-menu-bar>
  </div>
  <div class="grid-contents">
    <app-content></app-content>
  </div>
  <app-shadow-cover [display]="openBox === 'search' ? 'center' : ''" *ngIf="openBox" [ngSwitch]="openBox">
    <!-- for sidebar
      <app-sidebar
      appClickOutSide 
      *ngSwitchCase="'sidebar'"
      (clickOutSide)="closeSidebar($event)" 
      (closeSidebar)="closeSidebar($event)"
    ></app-sidebar> -->
    <app-modal-search 
      appClickOutSide
      *ngSwitchCase="'search'"
      (clickOutSide)="closeSearch($event)"
    ></app-modal-search>
  </app-shadow-cover>
</div>

<div class="scroll-top-btn" (click)="onClickScrollToTop()" *ngIf="_pageYOffset > 165">
  <div class="scroll-top-btn__icon__one"></div>
  <div class="scroll-top-btn__icon__two"></div>
</div>
