@import '../../app.component.scss';

.side-bar-contents {
  position: absolute;
  width: 40rem;
  right: 0px;
  background: $bright;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 20px;
}

ul {
  margin-top: 60px;
  cursor: pointer;
}

li {
  padding: 10px;
  margin: 5px;
  
  font-size: 2rem;
  transition: all ease-in-out 500ms;

  border-radius: 10px;
  text-align: center;

  background-color: getPrimaryColor();

  & > a {
    color: $bright;
  }
}


// li:hover {
//   background-color: getPrimaryColor();

//   & > a {
//     color: $bright;
//   }
// }

.nav-toggle {
  display: inline;
  float: right;
  font-size: 35px;
  
  &:hover > span {
    color: getPrimaryColor(darken);
  }

  &:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
  }
}

.img-wrapper {
  width: 3rem;
  height: 3rem;
  padding-top: 5px;
  margin-left: 3px;
  display: inline-block;
}

.search-wrapper {
  display: flex;
  position: fixed;
  bottom: 5rem;

  & > .img-wrapper > img {
    width: 100%;
    height: auto;
    display: inline-block;
  }
}

.modal-search-label {
  // display: block;
  position: fixed;
  bottom: 2rem;
  right: 16rem;
  justify-content: center;
  text-align: center;
}

