<div class="side-bar-contents">
  <div class="nav-toggle">
    <!-- <div class="nav-toggle__top"></div>
    <div class="nav-toggle__bottom"></div> -->
    <span (click)="onCloseSidebar()">X</span>
  </div>
  <ul>
    <li (click)="onCloseSidebar()" routerLink="/calendar">
      <a>캘린더</a>
    </li>
    <li (click)="onCloseSidebar()" routerLink="/diary">
      <a>일기장</a>
    </li>
  </ul>
  <div class="search-wrapper">
    <app-input 
      display="inline"
      [control]="searchValue"
      [error]="searchError"
    ></app-input>
    <div class="img-wrapper">
      <img src="../../../../../assets/img/icon/icon-search.png" (click)="onSubmitSearch()">
    </div>
  </div>
  <div class="modal-search-label" [ngSwitch]="searchError">
    <app-text textColor="error" textSize="xs" *ngSwitchCase="true">에러메세지</app-text>
    <app-text textColor="error" textSize="xs" *ngSwitchCase="false">&nbsp;</app-text>
  </div>
</div>
