@import '../../../app.component.scss';

/**
* ==========================================================
* Link
* ==========================================================
* - Defailt Link CSS
*/


/** 
*
*   Link Default CSS
*
* - 기본 링크 CSS 정의
*/
a {
  text-decoration: none;
  position:relative;
  color: $text-dark-color;

  &:before {
    content: "";
    position: absolute;

    left: 0;
    bottom: -3px;
    height: 3px;
    background: getPrimaryColor();
    width: 100%;
    -webkit-transition: $default-transition;
    transition: $default-transition;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0); // hide
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); // reveal
  }
}