@import '../../../../app.component.scss';

.find-email-form-wrapper {
  border-radius: 20px;
  box-shadow: $default-box-shadow;
  padding: 10px;
}

.find-email-form-title {
  margin: 10px;
  padding: 10px;

  border-bottom: 3px solid getPrimaryColor();
}

.find-email-form__input__label__group {
  padding: 10px;
}

.find-email-form__input, .find-email-form__label {
  display: inline-block;
  padding: 10px;
}

.find-email-form__label {
  width: 100px;
  text-align: center;
}

.find-email-form__button__group {
  display: flex;
  float: right;
  justify-content: space-around;
  margin: 10px;
}
