<app-flex-container>
  <div class="reset-pw-form-wrapper">
    <div class="reset-pw-form-title">
      <app-text textSize="title" type="block">비밀번호 재설정</app-text>
    </div>
    <form>
      <div class="reset-pw-form__input__group">
        <div class="reset-pw-form__input__label__group">
          <div class="reset-pw-form__label">
            <app-text textSize="lg">이메일</app-text>
          </div>
          <div class="reset-pw-form__input">
            <app-input display="inline" placeholder="이메일을 입력하세요!"></app-input>
          </div>
        </div>
        <div class="reset-pw-form__input__label__group">
          <div class="reset-pw-form__label">
            <app-text textSize="lg">휴대폰</app-text>
          </div>
          <div class="reset-pw-form__input">
            <app-input display="inline" placeholder="핸드폰 번호를 입력하세요!"></app-input>
          </div>
        </div>
      </div>
      <div class="reset-pw-form__button__group">
        <app-button color="primary">찾기</app-button>
        <app-button display="bordered" (click)="goBack()">뒤로가기</app-button>
      </div>
    </form>
  </div>
</app-flex-container>
