<div class="diary-container">
  <div class="diary-title">
    <div style="display: inline;">
      <app-text textSize="title" style="padding: 10px;">{{ year }}. {{ month }}. {{ date }}</app-text>
      <app-text textColor="gray">오늘은 무슨일이 있었나요?</app-text>
    </div>
    <app-button color="primary" style="float: right">작성</app-button>
  </div>
  <div class="diary-card-group">
    <div class="diary-card-wrapper">
      <div class="diary-card-title">
        <app-text textSize="lg">2021. 06. 16 수요일</app-text>
        <span><i>좋음</i></span>
      </div>
      <div class="diary-card-contents">
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
        <p>밖에 비온다 주륵주륵</p>
      </div>
    </div>
    <div class="diary-card-wrapper">
      <div class="diary-card-title">
        <app-text textSize="lg">2021. 06. 16 수요일</app-text>
      </div>
      <div class="diary-card-contents">
      </div>
    </div>
    <div class="diary-card-wrapper">
      <div class="diary-card-title">
        <app-text textSize="lg">2021. 06. 16 수요일</app-text>
      </div>
      <div class="diary-card-contents">
      </div>
    </div>
    <div class="diary-card-wrapper">
      <div class="diary-card-title">
        <app-text textSize="lg">2021. 06. 16 수요일</app-text>
      </div>
      <div class="diary-card-contents">
      </div>
    </div>
    <div class="diary-card-wrapper">
      <div class="diary-card-title">
        <app-text textSize="lg">2021. 06. 16 수요일</app-text>
      </div>
      <div class="diary-card-contents">
      </div>
    </div>
  </div>
</div>
